html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    cursor: pointer;
}

video {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}